@use '../abstracts/variables' as v;

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: v.$font-family-base;
  font-size: 15px;
  line-height: 1.5;
  color: v.$color-text;
  background-color: v.$color-surface-muted;
}
